.lead {
    margin: auto;
    padding-top: calc(56/1280*100%);
    color: white;
    text-align: center;
    max-width: calc(984/1280*100vw);
}

@media screen and (max-width: 1024px) {
    .lead {
        padding-top: 48px;
        max-width: calc(928/1024*100vw);
    }
}

@media screen and (max-width: 768px) {
    .lead {
        max-width: 100vw;
    }
}