.place {
  display: grid;
  grid-template-columns: repeat(2,minmax(calc(460/984*100%),1fr));
  gap: 48px 28px;
  padding-bottom: 80px;
}

.place:last-of-type {
  padding-bottom: 92px;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: repeat(2,minmax(calc(440/928*100%),1fr));
    column-gap: 20px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    padding-bottom: 80px;
    grid-template-columns: repeat(2,minmax(calc(352/720*100%),1fr));
    column-gap: calc(16/720*100%);
  }
  .place:last-of-type {
    padding-bottom: 90px;
  }
}

@media screen and (max-width: 320px) {
  .place {
    padding-bottom: 50px;
    grid-template-columns: 320px;
    gap: 32px;
  }
  .place:last-of-type {
    padding-bottom: 66px;
  }
}
